HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.mvn

pictures
xuelistudentpictures
target
xueweipictures
data_import_error_excel

src/main/resources/data
data_import_error_excel/studentStatusData/2023 数据插入失败的学生学籍数据.xlsx
data_import_error_excel/studentStatusData/2022 数据插入失败的学生学籍数据.xlsx
lib
log
data_export
dbfResult
