<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scnujxjy.backendpoint.mapper.registration_record_card.DegreeInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.scnujxjy.backendpoint.entity.registration_record_card.DegreeInfo">
        <id column="id" property="id" />
        <result column="grade" property="grade" />
        <result column="id_number" property="idNumber" />
        <result column="student_number" property="studentNumber" />
        <result column="foreign_language_score" property="foreignLanguageScore" />
        <result column="foreign_language_subject" property="foreignLanguageSubject" />
        <result column="foreign_language_status" property="foreignLanguageStatus" />
        <result column="foreign_language_date" property="foreignLanguageDate" />
        <result column="degree_type" property="degreeType" />
        <result column="degree_date" property="degreeDate" />
        <result column="degree_number" property="degreeNumber" />
        <result column="document_number" property="documentNumber" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, grade, id_number, student_number, foreign_language_score, foreign_language_subject, foreign_language_status, foreign_language_date, degree_type, degree_date, degree_number, document_number
    </sql>

</mapper>
