<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scnujxjy.backendpoint.mapper.registration_record_card.OriginalEducationInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.scnujxjy.backendpoint.entity.registration_record_card.OriginalEducationInfo">
        <id column="id" property="id" />
        <result column="grade" property="grade" />
        <result column="id_number" property="idNumber" />
        <result column="graduation_school" property="graduationSchool" />
        <result column="original_education" property="originalEducation" />
        <result column="graduation_date" property="graduationDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, grade, id_number, graduation_school, original_education, graduation_date
    </sql>

</mapper>
