<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scnujxjy.backendpoint.mapper.basic.StudentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.scnujxjy.backendpoint.entity.basic.Student">
        <id column="UserID" property="UserID" />
        <result column="Gender" property="Gender" />
        <result column="IDCardNumber" property="IDCardNumber" />
        <result column="Email" property="Email" />
        <result column="Address" property="Address" />
        <result column="PhoneNumber" property="PhoneNumber" />
        <result column="Company" property="Company" />
        <result column="GraduatedFrom" property="GraduatedFrom" />
        <result column="Education" property="Education" />
        <result column="ImagePath" property="ImagePath" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        UserID, Gender, IDCardNumber, Email, Address, PhoneNumber, Company, GraduatedFrom, Education, ImagePath
    </sql>

</mapper>
