<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scnujxjy.backendpoint.dao.mapper.teaching_process.CourseInformationMapper">

    <sql id="commonJoin">
        FROM course_information c
        JOIN class_information ci ON c.admin_class = ci.class_identifier
    </sql>

    <sql id="examCommonJoin">
        FROM course_information c
        JOIN class_information ci ON c.admin_class = ci.class_identifier
        JOIN course_exam_info cei ON cei.class_identifier = ci.class_identifier
        AND cei.course = c.course_name
    </sql>

    <sql id="commonFiltersForCourses">
        <if test='filter.grade != null'>AND ci.grade = #{filter.grade}</if>
        <if test='filter.college != null'>AND ci.college = #{filter.college}</if>
        <if test='filter.majorName != null'>AND c.major_name = #{filter.majorName}</if>
        <if test='filter.level != null'>AND ci.level = #{filter.level}</if>
        <if test='filter.studyForm != null'>AND ci.study_form = #{filter.studyForm}</if>
        <if test='filter.semester != null'>AND c.teaching_semester = #{filter.semester}</if>
        <if test='filter.adminClassName != null'>AND ci.class_name = #{filter.adminClassName}</if>
        <if test='filter.courseName != null'>AND c.course_name = #{filter.courseName}</if>
        <if test='filter.teachingMethod != null'>AND c.teaching_method = #{filter.teachingMethod}</if>
    </sql>

    <sql id="commonFiltersForExam">
        <if test='entity.grade != null'>AND ci.grade = #{entity.grade}</if>
        <if test='entity.college != null'>AND ci.college = #{entity.college}</if>
        <if test='entity.majorName != null'>AND c.major_name = #{entity.majorName}</if>
        <if test='entity.level != null'>AND ci.level = #{entity.level}</if>
        <if test='entity.studyForm != null'>AND ci.study_form = #{entity.studyForm}</if>
        <if test='entity.teachingSemester != null'>AND c.teaching_semester = #{entity.teachingSemester}</if>
        <if test='entity.classNames != null and !entity.classNames.isEmpty()'>
            AND ci.class_name IN
            <foreach item="name" collection="entity.classNames" open="(" separator="," close=")">
                #{name}
            </foreach>
        </if>

        <if test='entity.classSet != null and entity.classSet.size() > 0'>
            AND ci.class_name LIKE
            <foreach item="className" collection="entity.classSet" open="(" separator=","
                     close=")">
                CONCAT('%', #{className}, '%')
            </foreach>
        </if>

        <if test='entity.courseNames != null and !entity.courseNames.isEmpty()'>
            AND c.course_name IN
            <foreach item="name" collection="entity.courseNames" open="(" separator="," close=")">
                #{name}
            </foreach>
        </if>

        <if test='entity.examStatus != null'>AND cei.exam_status = #{entity.examStatus}</if>
        <if test='entity.examMethod != null'>AND cei.exam_method = #{entity.examMethod}</if>
    </sql>

    <sql id="commonFilters">
        <if test='filter.grade != null'>AND ci.grade = #{filter.grade}</if>
        <if test='filter.courseNameSet != null and !filter.courseNameSet.isEmpty()'>
            AND c.course_name IN
            <foreach item="courseName" collection="filter.courseNameSet" open="(" separator="," close=")">
                #{courseName}
            </foreach>
        </if>
        <if test='filter.college != null'>AND ci.college = #{filter.college}</if>
        <if test='filter.majorName != null'>AND ci.major_name = #{filter.majorName}</if>
        <if test='filter.level != null'>AND ci.level = #{filter.level}</if>
        <if test='filter.studyForm != null'>AND ci.study_form = #{filter.studyForm}</if>
        <if test='filter.adminClass != null'>AND ci.admin_class = #{filter.adminClass}</if>
        <if test='filter.courseName != null'>AND c.course_name = #{filter.courseName}</if>
        <if test='filter.grades != null and !filter.grades.isEmpty()'>
            AND ci.grade IN
            <foreach item="grade" collection="filter.grades" open="(" separator="," close=")">
                #{grade}
            </foreach>
        </if>
        <if test='filter.studyHours != null'>AND ci.study_hours = #{filter.studyHours}</if>
        <if test='filter.assessmentType != null'>AND ci.assessment_type = #{filter.assessmentType}</if>
        <if test='filter.teachingMethod != null'>AND ci.teaching_method = #{filter.teachingMethod}</if>
        <if test='filter.courseType != null'>AND ci.course_type = #{filter.courseType}</if>
        <if test='filter.credit != null'>AND ci.credit = #{filter.credit}</if>
        <if test='filter.semester != null'>AND ci.teaching_semester = #{filter.semester}</if>
        <if test='filter.courseCode != null'>AND c.course_code = #{filter.courseCode}</if>
        <if test='filter.className != null'>AND ci.class_name = #{filter.className}</if>
        <if test='filter.classNameSet != null and !filter.classNameSet.isEmpty()'>
            AND ci.class_name LIKE
            <foreach item="className" collection="filter.classNameSet" open="(" separator="," close=")">
                CONCAT('%', #{className}, '%')
            </foreach>
        </if>

    </sql>

    <select id="selectByFilterAndPage" resultType="com.scnujxjy.backendpoint.model.vo.teaching_process.CourseInformationVO">
        SELECT c.*, ci.class_name, ci.college
        <include refid="commonJoin" />
        WHERE 1=1
        <include refid="commonFilters" />
        ORDER BY c.grade DESC, c.major_name, c.level, c.study_form, c.course_code
        <if test='pageSize != null and offset != null'>
        LIMIT #{offset}, #{pageSize}
        </if>
    </select>

    <select id="selectByFilterAndPageForExam" resultType="com.scnujxjy.backendpoint.model.vo.teaching_process.CourseInformationVO">
        SELECT c.*, ci.class_name, ci.college, cei.id AS examId, cei.exam_type
        <include refid="examCommonJoin" />
        WHERE 1=1
        <include refid="commonFiltersForExam" />
        ORDER BY c.grade DESC, c.major_name, c.level, c.study_form, c.course_code
        <if test='pageSize != null and offset != null'>
            LIMIT #{offset}, #{pageSize}
        </if>
    </select>

    <select id="getCountByFilterAndPageForExam" resultType="java.lang.Long">
        SELECT count(*)
        <include refid="examCommonJoin" />
        WHERE 1=1
        <include refid="commonFiltersForExam" />
    </select>

    <select id="selectTeachingPointByFilterAndPage"
            resultType="com.scnujxjy.backendpoint.model.vo.teaching_process.CourseInformationVO">
        SELECT c.*, ci.class_name, ci.college
        <include refid="commonJoin"/>
        WHERE 1=1
        <include refid="commonFilters"/>
        ORDER BY c.grade DESC, c.major_name, c.level, c.study_form, c.course_code
        <if test='pageSize != null and offset != null'>
            LIMIT #{offset}, #{pageSize}
        </if>
    </select>


    <select id="getCountByFilterAndPage" resultType="Long">
        SELECT count(*)
        <include refid="commonJoin" />
        WHERE 1=1
        <include refid="commonFilters" />
    </select>

    <select id="selectSingleCourse" resultType="com.scnujxjy.backendpoint.model.vo.teaching_process.CourseInformationVO">
        SELECT * FROM course_information ci
        LEFT JOIN class_information ci2 ON ci.admin_class = ci2.class_identifier
        WHERE ci.grade = #{filter.grade} and ci.`level` = #{filter.level}
        and ci.study_form = #{filter.studyForm} and ci.admin_class = #{filter.className}
          and ci.course_name = #{filter.courseName};
    </select>

    <select id="getDistinctGrades" resultType="String">
        select distinct ci.grade
        <include refid="examCommonJoin" />
        WHERE 1=1
        <include refid="commonFiltersForExam" />
    </select>

    <select id="getDistinctCollegeNames" resultType="String">
        select distinct ci.college
        <include refid="examCommonJoin" />
        WHERE 1=1
        <include refid="commonFiltersForExam" />
    </select>

    <select id="getDistinctStudyForms" resultType="String">
        select distinct ci.study_form
        <include refid="examCommonJoin" />
        WHERE 1=1
        <include refid="commonFiltersForExam" />
    </select>

    <select id="getDistinctClassNames" resultType="String">
        select distinct ci.class_name
        <include refid="examCommonJoin" />
        WHERE 1=1
        <include refid="commonFiltersForExam" />
    </select>

    <select id="getDistinctLevels" resultType="String">
        select distinct ci.level
        <include refid="examCommonJoin" />
        WHERE 1=1
        <include refid="commonFiltersForExam" />
    </select>

    <select id="getDistinctMajorNames" resultType="String">
        select distinct ci.major_name
        <include refid="examCommonJoin" />
        WHERE 1=1
        <include refid="commonFiltersForExam" />
    </select>


    <select id="getDistinctSemasters" resultType="String">
        select distinct c.teaching_semester
        <include refid="examCommonJoin" />
        WHERE 1=1
        <include refid="commonFiltersForExam" />
    </select>


    <select id="getDistinctCourseNames" resultType="String">
        select distinct c.course_name
        <include refid="examCommonJoin" />
        WHERE 1=1
        <include refid="commonFiltersForExam" />
    </select>

    <select id="getDistinctExamMethods" resultType="java.lang.String">
        select distinct cei.exam_method
        <include refid="examCommonJoin" />
        WHERE 1=1
        <include refid="commonFiltersForExam" />
    </select>
    <select id="getDistinctExamStatuses" resultType="java.lang.String">
        select distinct cei.exam_status
        <include refid="examCommonJoin" />
        WHERE 1=1
        <include refid="commonFiltersForExam" />
    </select>

    <select id="getDistinctCourseTypes" resultType="java.lang.String">
        select distinct c.course_type
        <include refid="examCommonJoin" />
        WHERE 1=1
        <include refid="commonFiltersForExam" />
    </select>

    <select id="selectTeachingPointByFilterAndPageCount" resultType="java.lang.Long">
        SELECT count(*)
        <include refid="commonJoin"/>
        WHERE 1=1
        <include refid="commonFilters"/>
        ORDER BY c.grade DESC, c.major_name, c.level, c.study_form, c.course_code
    </select>

    <select id="selectAllExamData" resultType="com.scnujxjy.backendpoint.model.bo.exam.ExamDataBO">
        select c.id, c.grade, c.major_name, c.level, c.study_form, ci.class_identifier,
               c.course_name, c.study_hours, c.assessment_type, c.teaching_method,
               c.course_type, c.credit, c.teaching_semester, c.course_code, c.course_cover,
               ci.class_name, cei.main_teacher, cei.teacher_username, cei.exam_method,
               cei.exam_status, cei.id AS examId
        <include refid="examCommonJoin"></include>
        WHERE 1=1
        <include refid="commonFiltersForExam"></include>
        ORDER BY c.grade DESC, ci.college, ci.major_name, ci.level, ci.study_form, c.course_code
    </select>
    <select id="selectDistinctGrades" resultType="java.lang.String">
        SELECT DISTINCT c.grade
        <include refid="commonJoin"/>
        WHERE 1=1
        <include refid="commonFilters"/>
        ORDER BY c.grade DESC
    </select>
    <select id="selectDistinctMajorNames" resultType="java.lang.String">
        SELECT DISTINCT c.major_name
        <include refid="commonJoin"/>
        WHERE 1=1
        <include refid="commonFilters"/>
    </select>
    <select id="selectDistinctLevels" resultType="java.lang.String">
        SELECT DISTINCT c.level
        <include refid="commonJoin"/>
        WHERE 1=1
        <include refid="commonFilters"/>
    </select>
    <select id="selectDistinctCourseNames" resultType="java.lang.String">
        SELECT DISTINCT c.course_name
        <include refid="commonJoin"/>
        WHERE 1=1
        <include refid="commonFilters"/>
    </select>
    <select id="selectDistinctStudyForms" resultType="java.lang.String">
        SELECT DISTINCT c.study_form
        <include refid="commonJoin"/>
        WHERE 1=1
        <include refid="commonFilters"/>
    </select>
    <select id="selectDistinctClassNames" resultType="java.lang.String">
        SELECT DISTINCT ci.class_name
        <include refid="commonJoin"/>
        WHERE 1=1
        <include refid="commonFilters"/>
    </select>
    <select id="selectDistinctCollegeNames" resultType="java.lang.String">
        SELECT DISTINCT ci.college
        <include refid="commonJoin"/>
        WHERE 1=1
        <include refid="commonFilters"/>
    </select>

    <select id="getCourseClassInfo"
            resultType="com.scnujxjy.backendpoint.model.vo.course_learning.CourseClassInfoVO">
        SELECT *
        <include refid="commonJoin"/>
        WHERE 1=1
        <include refid="commonFilters"/>
    </select>

    <select id="selectClassByCourseCreateCondition"
            resultType="com.scnujxjy.backendpoint.model.vo.course_learning.CourseClassInfoVO">
        SELECT *
        <include refid="commonJoin"/>
        WHERE 1=1
        <include refid="commonFilters"/>
    </select>


</mapper>