<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scnujxjy.backendpoint.dao.mapper.teaching_process.ScoreInformationMapper">

    <sql id="commonJoin">
        FROM score_information pi
        LEFT JOIN class_information ci ON pi.class_identifier = ci.class_identifier
        LEFT JOIN student_status ss ON ss.student_number = pi.student_id
        LEFT JOIN personal_info pi2 ON pi2.id_number = ss.id_number AND pi2.grade = ss.grade
    </sql>

    <sql id="commonFilters">
        <if test='entity.id != null'>AND pi.id = #{entity.id} </if>
        <if test='entity.studentId != null'>AND pi.student_id = #{entity.studentId} </if>
        <if test='entity.grade != null'>AND pi.grade = #{entity.grade} </if>
        <if test='entity.college != null'>AND pi.college = #{entity.college} </if>
        <if test='entity.majorName != null'>AND pi.major_name = #{entity.majorName} </if>
        <if test='entity.status != null'>AND pi.final_score = #{entity.status} </if>
        <if test='entity.semester != null'>AND pi.semester = #{entity.semester} </if>
        <if test='entity.courseName != null'>AND pi.course_name = #{entity.courseName} </if>
        <if test='entity.courseCode != null'>AND pi.course_code = #{entity.courseCode} </if>
        <if test='entity.className != null'>AND ci.class_name LIKE CONCAT(#{entity.className}, '%') </if>
        <if test='entity.level != null'>AND ci.level LIKE CONCAT(#{entity.level}, '%') </if>
        <if test='entity.courseType != null'>AND pi.course_type = #{entity.courseType} </if>
        <if test='entity.assessmentType != null'>AND pi.assessment_type = #{entity.assessmentType} </if>
    </sql>

    <select id="getCountStudentGradeInfoByFilter" resultType="Long">
        SELECT COUNT(*)
        <include refid="commonJoin" />
        WHERE 1=1
        <include refid="commonFilters" />
    </select>

    <select id="getStudentGradeInfoByFilter" resultType="com.scnujxjy.backendpoint.model.vo.teaching_process.ScoreInformationVO">
        SELECT pi.*, ci.class_name, ci.study_form, ci.level, pi2.name
        <include refid="commonJoin" />
        WHERE 1=1
        <include refid="commonFilters" />
        LIMIT #{l}, #{pageSize}
    </select>

    <select id="getDistinctStatus" resultType="String">
        SELECT DISTINCT pi.final_score
        <include refid="commonJoin" />
        WHERE 1=1
        AND pi.final_score NOT REGEXP '^[0-9]+$'
        AND pi.final_score IS NOT NULL
        AND pi.final_score != ''
        <include refid="commonFilters" />
    </select>

    <select id="scoreInformationAward" resultType="com.scnujxjy.backendpoint.model.vo.teaching_process.ScoreInformationCommendation">
        SELECT si.id, si.student_id, si.grade, ss.college, ss.major_name, ss.study_form, ss.level, study_duration, class_name, semester, course_name,
               assessment_type, final_score, makeup_exam1_score, makeup_exam2_score, post_graduation_score, remarks, `status`, pi.`name`
        FROM score_information si JOIN student_status  ss ON si.student_id=ss.student_number JOIN class_information ci ON ss.class_identifier=ci.class_identifier
            JOIN personal_info pi ON pi.id_number=ss.id_number
        WHERE si.student_id = #{student_id}
    </select>


</mapper>
