<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scnujxjy.backendpoint.dao.mapper.oa.ApprovalTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.scnujxjy.backendpoint.dao.entity.oa.ApprovalTypePO">
        <id column="id" property="id" />
        <result column="application_name" property="applicationName" />
        <result column="description" property="description" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, application_name, description, created_at, updated_at
    </sql>
    <select id="selectMaxId" resultType="java.lang.Integer">
        SELECT COALESCE(MAX(id), 0) AS max_id FROM approval_type;
    </select>

</mapper>
