<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scnujxjy.backendpoint.dao.mapper.oa.MajorChangeRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.scnujxjy.backendpoint.dao.entity.oa.MajorChangeRecordPO">
        <id column="id" property="id" />
        <result column="serial_number" property="serialNumber" />
        <result column="current_year" property="currentYear" />
        <result column="exam_registration_number" property="examRegistrationNumber" />
        <result column="id_number" property="idNumber" />
        <result column="student_number" property="studentNumber" />
        <result column="student_name" property="studentName" />
        <result column="old_class_identifier" property="oldClassIdentifier" />
        <result column="old_grade" property="oldGrade" />
        <result column="old_study_form" property="oldStudyForm" />
        <result column="old_major_name" property="oldMajorName" />
        <result column="new_class_identifier" property="newClassIdentifier" />
        <result column="new_grade" property="newGrade" />
        <result column="new_study_form" property="newStudyForm" />
        <result column="new_major_name" property="newMajorName" />
        <result column="approval_history_id" property="approvalHistoryId" />
        <result column="approval_user_id" property="approvalUserId" />
        <result column="reason" property="reason" />
        <result column="approval_date" property="approvalDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, serial_number, current_year, exam_registration_number, id_number, student_number, student_name, old_class_identifier, old_grade, old_study_form, old_major_name, new_class_identifier, new_grade, new_study_form, new_major_name, approval_history_id, approval_user_id, reason, approval_date
    </sql>

    <sql id="commonJoin">
        FROM major_change_record mcr
    </sql>

    <sql id="commonFilters">
        <if test='entity.id != null'>AND mcr.id = #{entity.id}</if>
        <if test='entity.currentYear != null'>AND mcr.current_year = #{entity.currentYear}</if>
        <if test='entity.examRegistrationNumber != null'>AND mcr.exam_registration_number = #{entity.examRegistrationNumber}</if>
        <if test='entity.idNumber != null'>AND mcr.id_number = #{entity.idNumber}</if>
        <if test='entity.studentNumber != null'>AND mcr.student_number = #{entity.studentNumber}</if>
        <if test='entity.studentName != null'>AND mcr.student_name = #{entity.studentName}</if>
        <if test='entity.remark != null'>AND mcr.remark = #{entity.remark}</if>

        <if test='entity.approvalStartDate != null'>AND mcr.approval_date >= #{entity.approvalStartDate}</if>
        <if test='entity.approvalEndDate != null'>AND #{entity.approvalEndDate} >= mcr.approval_date</if>

    </sql>
    <delete id="deleteDiy">
        DELETE
        <include refid="commonJoin" />
        WHERE 1=1
        <include refid="commonFilters" />
    </delete>

    <select id="getMajorChangeInfos" resultType="com.scnujxjy.backendpoint.model.vo.oa.MajorChangeRecordVO">
        select *
        <include refid="commonJoin" />
        WHERE 1=1
        <include refid="commonFilters" />
        ORDER BY mcr.current_year DESC, mcr.approval_date DESC
        LIMIT #{pageNumber}, #{pageSize}
    </select>
    <select id="getMajorChangeInfosCount" resultType="java.lang.Long">
        SELECT count(*)
        <include refid="commonJoin" />
        WHERE 1=1
        <include refid="commonFilters"/>
    </select>
    <select id="getDistinctGrades" resultType="java.lang.String">
        select distinct current_year
        <include refid="commonJoin" />
        WHERE 1=1
        <include refid="commonFilters"/>
        ORDER BY current_year DESC
    </select>

    <select id="getDistinctRemarks" resultType="java.lang.String">
        select distinct remark
        <include refid="commonJoin" />
        WHERE 1=1
        <include refid="commonFilters"/>
        AND remark IS NOT NULL
    </select>
    <select id="getMajorChangeInfosForGenerateDBF"
            resultType="com.scnujxjy.backendpoint.model.vo.oa.MajorChangeRecordVO">
        select *
        <include refid="commonJoin" />
        WHERE 1=1
        <include refid="commonFilters" />
    </select>
    <select id="getSingleMajorChangeInfos"
            resultType="com.scnujxjy.backendpoint.model.vo.oa.MajorChangeRecordVO">
        select *
        <include refid="commonJoin" />
        WHERE 1=1
        <include refid="commonFilters" />
    </select>

</mapper>
