<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n
            </pattern>
        </layout>
    </appender>

    <appender name="fileLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n
            </pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/scnuxueli.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
<!--        <destination>113.108.140.170:4560</destination>-->
<!--        开发测试环境 下 使用 这个端口 来接收 日志 存放到 logstash 从而传送到 elasticsearch -->
        <destination>113.108.140.170:4561</destination>
        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <root level="info">
        <appender-ref ref="consoleLog" />
        <appender-ref ref="fileLog" />
        <appender-ref ref="logstash" />
    </root>

    <!-- MyBatis SQL 日志设置 -->
<!--    <logger name="org.mybatis" level="INFO">-->
    <logger name="org.mybatis" level="DEBUG">
        <appender-ref ref="fileLog" />
        <appender-ref ref="logstash" />
    </logger>
<!--记录具体的 Mapper SQL 语句，您也需要将 Mapper 的日志级别设置为 DEBUG-->
    <logger name="com.scnujxjy.backendpoint.dao.mapper" level="DEBUG">
        <appender-ref ref="fileLog" />
        <appender-ref ref="logstash" />
    </logger>


    <!--    <logger name="com.scnujxjy.backendpoint.dao.mapper" level="DEBUG">-->
    <logger name="com.scnujxjy.backendpoint.dao.mapper" level="INFO">
        <appender-ref ref="fileLog" />
        <appender-ref ref="logstash" />
    </logger>

    <!-- 应用日志设置 -->
    <logger name="com.scnujxjy" level="info" additivity="true">
        <appender-ref ref="fileLog" />
        <appender-ref ref="logstash" />
    </logger>

</configuration>
