<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scnujxjy.backendpoint.mapper.admission_information.AdmissionInformationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.scnujxjy.backendpoint.entity.admission_information.AdmissionInformation">
        <id column="id" property="id" />
        <result column="student_number" property="studentNumber" />
        <result column="name" property="name" />
        <result column="gender" property="gender" />
        <result column="total_score" property="totalScore" />
        <result column="major_code" property="majorCode" />
        <result column="major_name" property="majorName" />
        <result column="level" property="level" />
        <result column="study_form" property="studyForm" />
        <result column="original_education" property="originalEducation" />
        <result column="graduation_school" property="graduationSchool" />
        <result column="graduation_date" property="graduationDate" />
        <result column="phone_number" property="phoneNumber" />
        <result column="id_card_number" property="idCardNumber" />
        <result column="birth_date" property="birthDate" />
        <result column="address" property="address" />
        <result column="postal_code" property="postalCode" />
        <result column="ethnicity" property="ethnicity" />
        <result column="political_status" property="politicalStatus" />
        <result column="admission_number" property="admissionNumber" />
        <result column="short_student_number" property="shortStudentNumber" />
        <result column="college" property="college" />
        <result column="teaching_point" property="teachingPoint" />
        <result column="report_location" property="reportLocation" />
        <result column="entrance_photo_url" property="entrancePhotoUrl" />
        <result column="grade" property="grade" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, student_number, name, gender, total_score, major_code, major_name, level, study_form, original_education, graduation_school, graduation_date, phone_number, id_card_number, birth_date, address, postal_code, ethnicity, political_status, admission_number, short_student_number, college, teaching_point, report_location, entrance_photo_url, grade
    </sql>

</mapper>
