<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scnujxjy.backendpoint.dao.mapper.core_data.TeacherInformationMapper">
    <sql id="commonJoin">
        FROM teacher_information ti
    </sql>

    <sql id="commonTeacherAccountJoin">
        FROM teacher_information ti
        LEFT JOIN platform_user pu ON pu.username = ti.teacher_username
    </sql>

    <sql id="commonFilters">
        <if test='entity.id != null'>
            AND ti.id = #{entity.id}
        </if>
        <if test='entity.username != null'>
            AND ti.teacher_username = #{entity.username}
        </if>
        <if test='entity.name != null'>
            AND ti.name = #{entity.name}
        </if>
        <if test='entity.idNumber != null'>
            AND ti.id_card_number = #{entity.idNumber}
        </if>
        <if test='entity.workNumber != null'>
            AND ti.work_number = #{entity.workNumber}
        </if>

        <if test="entity.usernames != null and !entity.usernames.isEmpty()">
            AND ti.teacher_username IN
            <foreach collection="entity.usernames" item="username" open="(" separator="," close=")">
                #{username}
            </foreach>
        </if>
    </sql>
    <select id="selectTeacherInfo"
            resultType="com.scnujxjy.backendpoint.dao.entity.core_data.TeacherInformationPO">
        SELECT ti.*
        <include refid="commonJoin" />
        WHERE 1=1
        <include refid="commonFilters" />
    </select>

    <select id="selectTeacherInformation" parameterType="com.scnujxjy.backendpoint.model.ro.core_data.TeacherInformationRequest"
            resultType="com.scnujxjy.backendpoint.dao.entity.core_data.TeacherInformationPO">
        select * from teacher_information t
        <where>
            1=1
            <if test="name != null and name != ''">
                and t.name  LIKE CONCAT('%', #{name},'%')
            </if>
            <if test="idNumber != null and idNumber != ''">
                and t.id_card_number LIKE CONCAT('%', #{idNumber},'%')
            </if>
            <if test="gender != null and gender != ''">
                and t.gender =#{gender}
            </if>
            <if test="userName != null and userName != ''">
                and t.teacher_username LIKE CONCAT('%', #{userName},'%')
            </if>
            <if test="college != null and college!='' ">
                and t.college_id LIKE CONCAT('%', #{college},'%')
            </if>
            <if test="teacherType != null and teacherType!='' ">
                and t.teacher_type2 =#{teacherType}
            </if>

        </where>
        order by t.user_id asc LIMIT #{offset},#{pageSize}
    </select>

    <select id="selectTeacherInformationCount" parameterType="com.scnujxjy.backendpoint.model.ro.core_data.TeacherInformationRequest"
            resultType="Long">
        select count(*) from teacher_information t
        <where>
            1=1
            <if test="name != null and name != ''">
                and t.name  LIKE CONCAT('%', #{name},'%')
            </if>
            <if test="idNumber != null and idNumber != ''">
                and t.id_card_number LIKE CONCAT('%', #{idNumber},'%')
            </if>
            <if test="gender != null and gender != ''">
                and t.gender =#{gender}
            </if>
            <if test="userName != null and userName != ''">
                and t.teacher_username LIKE CONCAT('%', #{userName},'%')
            </if>
            <if test="college != null and college!='' ">
                and t.college_id LIKE CONCAT('%', #{college},'%')
            </if>
            <if test="teacherType != null and teacherType!='' ">
                and t.teacher_type2 =#{teacherType}
            </if>
        </where>
    </select>


    <sql id="commonTeacherAccountFilters">
        <if test='entity.userId != null'>
            AND ti.user_id = #{entity.userId}
        </if>
        <if test='entity.teacherUsername != null'>
            AND ti.teacher_username = #{entity.teacherUsername}
        </if>
        <if test='entity.name != null'>
            AND ti.name = #{entity.name}
        </if>
        <if test='entity.idCardNumber != null'>
            AND ti.id_card_number = #{entity.idCardNumber}
        </if>
        <if test='entity.name != null'>
            AND ti.name = #{entity.name}
        </if>

        <if test='entity.workNumber != null'>
            AND ti.work_number = #{entity.workNumber}
        </if>

        <if test='entity.teacherType2 != null'>
            AND ti.teacher_type2 = #{entity.teacherType2}
        </if>

        <if test="entity.usernames != null and !entity.usernames.isEmpty()">
            AND ti.teacher_username IN
            <foreach collection="entity.usernames" item="username" open="(" separator="," close=")">
                #{username}
            </foreach>
        </if>
    </sql>

    <select id="selectTeacherInformationWithAccountInfo"
            resultType="com.scnujxjy.backendpoint.model.vo.core_data.TeacherInformationVO">
        SELECT  ti.*, pu.username
        <include refid="commonTeacherAccountJoin" />
        WHERE 1=1
        <include refid="commonTeacherAccountFilters" />
        LIMIT #{l}, #{pageSize}
    </select>

    <select id="selectTeacherInformationWithAccountInfoCount" resultType="java.lang.Long">
        SELECT  COUNT(*)
        <include refid="commonTeacherAccountJoin" />
        WHERE 1=1
        <include refid="commonTeacherAccountFilters" />
    </select>
    <select id="getDistincetTeacherNames" resultType="java.lang.String">
        SELECT DISTINCT ti.name
        <include refid="commonTeacherAccountJoin" />
        WHERE 1=1
        <include refid="commonTeacherAccountFilters" />
    </select>

</mapper>