<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scnujxjy.backendpoint.dao.mapper.registration_record_card.StudentStatusMapper">

    <sql id="commonJoin">
        FROM student_status ss
        LEFT JOIN graduation_info gi ON ss.student_number = gi.student_number
        LEFT JOIN class_information ci ON ss.class_identifier = ci.class_identifier
        LEFT JOIN personal_info pi ON ss.id_number = pi.id_number AND ss.grade = pi.grade
    </sql>

    <sql id="commonFilters">
        <if test='entity.id != null'>AND ss.id = #{entity.id}</if>
        <if test='entity.studentNumber != null'>AND ss.student_number = #{entity.studentNumber}</if>
        <if test='entity.grade != null'>AND ss.grade = #{entity.grade}</if>
        <if test='entity.college != null'>AND ss.college = #{entity.college}</if>
        <if test='entity.teachingPoint != null'>AND ss.teaching_point = #{entity.teachingPoint}</if>
        <if test='entity.majorName != null'>AND ss.major_name = #{entity.majorName}</if>
        <if test='entity.studyForm != null'>AND ss.study_form = #{entity.studyForm}</if>
        <if test='entity.level != null'>AND ss.level = #{entity.level}</if>
        <if test='entity.studyDuration != null'>AND ss.study_duration = #{entity.studyDuration}</if>
        <if test='entity.admissionNumber != null'>AND ss.admission_number = #{entity.admissionNumber}</if>
        <!-- 只有在academicStatus不为null时才加入查询条件 -->
        <if test='entity.academicStatus != null'>
            <choose>
                <!-- 如果academicStatus为"在籍", 则匹配"在籍"或"在籍新生" -->
                <when test="entity.academicStatus == '在籍'">
                    AND (ss.academic_status = '在籍' OR ss.academic_status = '在籍新生')
                </when>

                <!-- 其他情况正常匹配 -->
                <otherwise>
                    AND ss.academic_status = #{entity.academicStatus}
                </otherwise>
            </choose>
        </if>

        <if test='entity.enrollmentDate != null'>AND ss.enrollment_date = #{entity.enrollmentDate}</if>
        <if test='entity.idNumber != null'>AND ss.id_number = #{entity.idNumber}</if>
        <if test='entity.classIdentifier != null'>AND ss.class_identifier = #{entity.classIdentifier}</if>
        <if test='entity.className != null'>AND ci.class_name = #{entity.className}</if>
        <if test='entity.graduationDate != null'>
            AND YEAR(gi.graduation_date) = YEAR(#{entity.graduationDate})
            AND MONTH(gi.graduation_date) = MONTH(#{entity.graduationDate})
        </if>
        <if test='entity.classNames != null and entity.classNames.size() > 0'>
            AND ci.class_name LIKE
            <foreach collection="entity.classNames" item="className" open="(" close=")" separator=",">
                #{className}
            </foreach>
        </if>
        <if test='entity.name != null'>AND pi.name = #{entity.name}</if>
    </sql>

    <select id="selectByFilterAndPageByManager0" resultType="com.scnujxjy.backendpoint.model.vo.teaching_process.StudentStatusAllVO">
        SELECT ss.*, gi.graduation_date, gi.graduation_photo, ci.class_name, pi.name, pi.gender, pi.birth_date,
        pi.political_status, pi.ethnicity, pi.phone_number, pi.address, pi.entrance_photo
        <include refid="commonJoin" />
        WHERE 1=1
        <include refid="commonFilters" />
--         ORDER BY ss.grade DESC, ss.college, ss.major_name, ss.level, ci.class_name
        LIMIT #{l}, #{pageSize}
    </select>


    <select id="getCountByFilterAndPageManager0" resultType="long">
        SELECT COUNT(*)
        <include refid="commonJoin" />
        WHERE 1=1
        <include refid="commonFilters" />
    </select>

    <select id="downloadStudentStatusDataByManager0" resultType="com.scnujxjy.backendpoint.model.vo.teaching_process.StudentStatusAllVO">
        SELECT ss.*, gi.graduation_date, gi.graduation_photo, ci.class_name, pi.name, pi.gender, pi.birth_date,
        pi.political_status, pi.ethnicity, pi.phone_number, pi.address, pi.entrance_photo, ci.tuition
        <include refid="commonJoin" />
        WHERE 1=1
        <include refid="commonFilters" />
        ORDER BY ss.grade DESC, ss.college, ss.major_name, ss.level, ci.class_name
    </select>


    <select id="getStudentStatusInfoByTeacher" resultType="com.scnujxjy.backendpoint.model.vo.teaching_process.StudentStatusAllVO">
    SELECT ss.*, gi.graduation_date, gi.graduation_photo, ci.class_name, pi.name, pi.gender, pi.birth_date,
    pi.political_status, pi.ethnicity, pi.phone_number, pi.address, pi.entrance_photo, ci.tuition
    <include refid="commonJoin" />
    WHERE 1=1
    <if test='entity.studentNumber != null'>AND ss.student_number = #{entity.studentNumber} </if>
    <if test='entity.idNumber != null'>AND ss.id_number = #{entity.idNumber} </if>
    <if test='entity.name != null'>AND pi.name = #{entity.name} </if>
    <if test='entity.className != null'>AND ci.class_name LIKE CONCAT('%', #{entity.className}, '%') </if>
    AND ci.class_identifier IN
    <foreach item="classIdentifier" collection="entity.classIdentifiers"
             open="(" separator="," close=")">
        #{classIdentifier}
    </foreach>
    LIMIT #{pageNumber}, #{pageSize}
    </select>


    <select id="getStudentStatusInfoByTeacherCount" resultType="Long">
        SELECT count(*)
        <include refid="commonJoin" />
        WHERE 1=1
        <if test='entity.studentNumber != null'>AND ss.student_number = #{entity.studentNumber} </if>
        <if test='entity.idNumber != null'>AND ss.id_number = #{entity.idNumber} </if>
        <if test='entity.name != null'>AND pi.name = #{entity.name} </if>
        <if test='entity.className != null'>AND ci.class_name LIKE CONCAT('%', #{entity.className}, '%') </if>
        AND ss.class_identifier IN
        <foreach item="classIdentifier" collection="entity.classIdentifiers"
                 open="(" separator="," close=")">
            #{classIdentifier}
        </foreach>
    </select>


    <select id="selectByFilterAndPageByTeachingPoint" resultType="com.scnujxjy.backendpoint.model.vo.teaching_process.StudentStatusAllVO">
        SELECT ss.*, gi.graduation_date, gi.graduation_photo, ci.class_name, pi.name, pi.gender, pi.birth_date,
        pi.political_status, pi.ethnicity, pi.phone_number, pi.address, pi.entrance_photo
        <include refid="commonJoin" />
        WHERE 1=1
        <include refid="commonFilters" />
        --         ORDER BY ss.grade DESC, ss.college, ss.major_name, ss.level, ci.class_name
        LIMIT #{l}, #{pageSize}
    </select>

    <select id="selectByFilterAndPageByTeachingPointCount" resultType="Long">
        SELECT count(*)
        <include refid="commonJoin" />
        WHERE 1=1
        <include refid="commonFilters" />
    </select>

</mapper>