<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scnujxjy.backendpoint.mapper.teaching_point.TeachingPointInformationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.scnujxjy.backendpoint.entity.teaching_point.TeachingPointInformation">
        <id column="teaching_point_id" property="teachingPointId" />
        <result column="teaching_point_name" property="teachingPointName" />
        <result column="phone" property="phone" />
        <result column="address" property="address" />
        <result column="qualification_id" property="qualificationId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        teaching_point_id, teaching_point_name, phone, address, qualification_id
    </sql>

</mapper>
