<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scnujxjy.backendpoint.mapper.core_data.PaymentInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.scnujxjy.backendpoint.entity.core_data.PaymentInfo">
        <id column="id" property="id" />
        <result column="student_number" property="studentNumber" />
        <result column="admission_number" property="admissionNumber" />
        <result column="name" property="name" />
        <result column="id_card_number" property="idCardNumber" />
        <result column="payment_date" property="paymentDate" />
        <result column="payment_category" property="paymentCategory" />
        <result column="academic_year" property="academicYear" />
        <result column="payment_type" property="paymentType" />
        <result column="amount" property="amount" />
        <result column="is_paid" property="isPaid" />
        <result column="payment_method" property="paymentMethod" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, student_number, admission_number, name, id_card_number, payment_date, payment_category, academic_year, payment_type, amount, is_paid, payment_method
    </sql>

</mapper>
