<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scnujxjy.backendpoint.dao.mapper.basic.CourseMetadataMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.scnujxjy.backendpoint.dao.entity.basic.CourseMetadataPO">
        <id column="ID" property="id" />
        <result column="course_name" property="courseName" />
        <result column="course_category" property="courseCategory" />
        <result column="course_code" property="courseCode" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, course_name, course_category, course_code, created_at, updated_at
    </sql>

</mapper>
