<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scnujxjy.backendpoint.dao.mapper.registration_record_card.ClassInformationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.scnujxjy.backendpoint.dao.entity.registration_record_card.ClassInformationPO">
        <id column="id" property="id" />
        <result column="class_identifier" property="classIdentifier" />
        <result column="grade" property="grade" />
        <result column="class_student_prefix" property="classStudentPrefix" />
        <result column="class_name" property="className" />
        <result column="study_form" property="studyForm" />
        <result column="level" property="level" />
        <result column="study_period" property="studyPeriod" />
        <result column="college" property="college" />
        <result column="female_count" property="femaleCount" />
        <result column="total_count" property="totalCount" />
        <result column="graduate_total_count" property="graduateTotalCount" />
        <result column="graduate_female_count" property="graduateFemaleCount" />
        <result column="major_name" property="majorName" />
        <result column="admission_date" property="admissionDate" />
        <result column="graduation_date" property="graduationDate" />
        <result column="student_status" property="studentStatus" />
        <result column="major_code" property="majorCode" />
        <result column="tuition" property="tuition" />
        <result column="is_teacher_student" property="isTeacherStudent" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, class_identifier, grade, class_student_prefix, class_name, study_form, level, study_period, college, female_count, total_count, graduate_total_count, graduate_female_count, major_name, admission_date, graduation_date, student_status, major_code, tuition, is_teacher_student
    </sql>

</mapper>
