<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scnujxjy.backendpoint.dao.mapper.teaching_process.CourseInformationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.scnujxjy.backendpoint.dao.entity.teaching_process.CourseInformationPO">
        <id column="id" property="id" />
        <result column="grade" property="grade" />
        <result column="major_name" property="majorName" />
        <result column="level" property="level" />
        <result column="study_form" property="studyForm" />
        <result column="admin_class" property="adminClass" />
        <result column="course_name" property="courseName" />
        <result column="study_hours" property="studyHours" />
        <result column="assessment_type" property="assessmentType" />
        <result column="teaching_method" property="teachingMethod" />
        <result column="course_type" property="courseType" />
        <result column="credit" property="credit" />
        <result column="teaching_semester" property="teachingSemester" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, grade, major_name, level, study_form, admin_class, course_name, study_hours, assessment_type, teaching_method, course_type, credit, teaching_semester
    </sql>

</mapper>
