<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scnujxjy.backendpoint.dao.mapper.exam.CourseExamAssistantsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.scnujxjy.backendpoint.dao.entity.exam.CourseExamAssistantsPO">
        <id column="id" property="id" />
        <result column="course_id" property="courseId" />
        <result column="assistant_name" property="assistantName" />
        <result column="teacher_username" property="teacherUsername" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, course_id, assistant_name, teacher_username
    </sql>

</mapper>
