<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scnujxjy.backendpoint.dao.mapper.courses_learning.CoursesLearningMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.scnujxjy.backendpoint.dao.entity.courses_learning.CoursesLearningPO">
        <id column="id" property="id" />
        <result column="grade" property="grade" />
        <result column="course_name" property="courseName" />
        <result column="course_type" property="courseType" />
        <result column="course_description" property="courseDescription" />
        <result column="course_cover_url" property="courseCoverUrl" />
        <result column="default_main_teacher_id" property="defaultMainTeacherId" />
        <result column="course_identifier" property="courseIdentifier" />
        <result column="valid" property="valid" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, grade, course_name, course_type, course_description, course_cover_url, default_main_teacher_id, course_identifier, valid, created_time, updated_time
    </sql>



    <sql id="commonJoin">
        FROM
        courses_learning cl
        LEFT JOIN
        sections ss ON cl.id = ss.course_id
        LEFT JOIN
        courses_class_mapping ccm ON cl.id = ccm.course_id
        LEFT JOIN
        class_information ci ON ccm.class_identifier = ci.class_identifier
        LEFT JOIN
        teacher_information ti ON cl.default_main_teacher_username = ti.teacher_username
    </sql>

    <sql id="commonFilters">
        <if test='entity.id != null'>AND cl.id = #{entity.id}</if>
        <if test='entity.grade != null'>AND ci.grade = #{entity.grade}</if>
        <if test='entity.college != null'>AND ci.college = #{entity.college}</if>
        <if test='entity.majorName != null'>AND ci.major_name = #{entity.majorName}</if>
        <if test='entity.studyForm != null'>AND ci.study_form = #{entity.studyForm}</if>
        <if test='entity.level != null'>AND ci.level = #{entity.level}</if>
        <if test='entity.courseName != null'>AND cl.course_name = #{entity.courseName}</if>
        <if test='entity.courseType != null'>AND cl.course_type = #{entity.courseType}</if>
        <if test='entity.mainTeacherName != null'>AND ti.name = #{entity.mainTeacherName}</if>

        <if test='entity.courseStartTime != null'>AND ss.start_time >= #{entity.courseStartTime}</if>
        <if test='entity.courseEndTime != null'>AND #{entity.courseEndTime} >= ss.start_time</if>
    </sql>


    <!--    获取不同角色输入下的课程学习信息  -->
    <select id="selectCourseLearningData"
            resultType="com.scnujxjy.backendpoint.model.vo.course_learning.CourseLearningVO">
        SELECT
        cl.id,
        ci.grade,
        cl.course_name,
        cl.course_type,
        cl.course_description,
        cl.course_cover_url,
        cl.default_main_teacher_username,
        cl.course_identifier,
        cl.valid,
        cl.created_time,
        cl.updated_time,
        ti.name AS default_main_teacher_name,
        GROUP_CONCAT(DISTINCT ci.class_name) AS classNames,
        MIN(ss.start_time) AS recent_course_schedule_time   -- 添加这行来获取最小的 start_time
        <include refid="commonJoin" />
        WHERE
        1=1
        <include refid="commonFilters" />
        GROUP BY
        cl.id, ci.grade, cl.course_name, cl.course_type, cl.course_description,
        cl.course_cover_url, cl.default_main_teacher_username, cl.course_identifier,
        cl.valid, cl.created_time, cl.updated_time, ti.name
        ORDER BY
        cl.created_time DESC
        LIMIT
        #{pageNumber}, #{pageSize}
    </select>
    <select id="getCourseSectionsData"
            resultType="com.scnujxjy.backendpoint.model.bo.course_learning.CourseRecordBO">
        SELECT cl.id,
               cl.grade, cl.course_name, cl.course_type, cl.course_description, cl.course_cover_url,
               cl.default_main_teacher_username, cl.course_identifier, cl.valid, cl.created_time,
               cl.updated_time, ss.parent_section_id, ss.section_name, ss.sequence, ss.content_type,
               ss.main_teacher_username, ss.deadline, ss.start_time, ss.valid AS section_valid,
               ccm.class_identifier, ci.grade AS class_grade, ci.class_name, ci.study_form,
               ci.level, ci.study_period, ci.college, ci.major_name, ci.major_code, ci.tuition,
               ti.name
        <include refid="commonJoin" />
    </select>


    <sql id="courseStudentInfoFilter">
        <if test='entity.courseId != null'>AND cl.id = #{entity.courseId}</if>
        <if test='entity.grade != null'>AND ci.grade = #{entity.grade}</if>
        <if test='entity.college != null'>AND ci.college = #{entity.college}</if>
        <if test='entity.majorName != null'>AND ci.major_name = #{entity.majorName}</if>
        <if test='entity.studyForm != null'>AND ci.study_form = #{entity.studyForm}</if>
        <if test='entity.level != null'>AND ci.level = #{entity.level}</if>
        <if test='entity.teachingPointName != null'>AND tpi.teaching_point_name = #{entity.teachingPointName}</if>
        <if test='entity.className != null'>AND ci.class_name = #{entity.className}</if>
        <if test='entity.idNumber != null'>AND cl.id_number = #{entity.idNumber}</if>
        <if test='entity.studentNumber != null'>AND ss.student_number = #{entity.studentNumber}</if>

        <if test='entity.name != null'>AND pi.name >= #{entity.name}</if>
    </sql>


    <select id="selectCourseStudentsInfo"
            resultType="com.scnujxjy.backendpoint.model.vo.course_learning.CourseLearningStudentInfoVO">
        SELECT cl.id, ss.grade, ci.college, ci.major_name, ci.study_form, ci.`level`, tpi.teaching_point_name,
               ci.class_name, ss.id_number, ss.student_number, pi.`name`
        FROM courses_learning cl
                 INNER JOIN courses_class_mapping ccm ON cl.id=ccm.course_id
                 INNER JOIN class_information ci ON ccm.class_identifier=ci.class_identifier
                 INNER JOIN student_status ss ON ss.class_identifier=ci.class_identifier
                 INNER JOIN personal_info pi ON pi.grade=ss.grade AND pi.id_number=ss.id_number
                 INNER JOIN teaching_point_information tpi ON ci.class_name=tpi.alias
        <include refid="courseStudentInfoFilter" />
        ORDER BY
        ss.grade DESC, ci.college, ci.major_name, ci.study_form, ci.`level`, ci.class_name
        LIMIT
        #{pageNumber}, #{pageSize}
    </select>


    <select id="selectCountCourseStudentsInfo"
            resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM courses_learning cl
        INNER JOIN courses_class_mapping ccm ON cl.id=ccm.course_id
        INNER JOIN class_information ci ON ccm.class_identifier=ci.class_identifier
        INNER JOIN student_status ss ON ss.class_identifier=ci.class_identifier
        INNER JOIN personal_info pi ON pi.grade=ss.grade AND pi.id_number=ss.id_number
        INNER JOIN teaching_point_information tpi ON ci.class_name=tpi.alias
        <include refid="courseStudentInfoFilter" />
    </select>


</mapper>
