<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scnujxjy.backendpoint.dao.mapper.courses_learning.LiveResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.scnujxjy.backendpoint.dao.entity.courses_learning.LiveResourcesPO">
        <id column="id" property="id" />
        <result column="course_id" property="courseId" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="channel_id" property="channelId" />
        <result column="main_teacher_id" property="mainTeacherId" />
        <result column="valid" property="valid" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, course_id, start_time, end_time, channel_id, main_teacher_id, valid, created_time, updated_time
    </sql>
    <select id="selectLiveResource"
            resultType="com.scnujxjy.backendpoint.dao.entity.courses_learning.LiveResourcesPO">
        select * from live_resources lr
        WHERE lr.course_id = #{courseId} AND lr.section_id IS NULL
    </select>

</mapper>
