<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scnujxjy.backendpoint.dao.mapper.admission_information.AdmissionInformationMapper">
    <sql id="commonJoin">
        FROM admission_information ai
        LEFT JOIN personal_info pi ON ai.grade = pi.grade and ai.id_card_number=pi.id_number
        LEFT JOIN major_information mi ON mi.admission_major_code=ai.major_code AND mi.grade=ai.grade
        LEFT JOIN college_information ci ON mi.college_id=ci.college_id
        LEFT JOIN teaching_point_information tpi ON tpi.teaching_point_id=mi.teaching_point_id
    </sql>

    <sql id="commonFilters">
        <if test='entity.id != null'>AND ai.id = #{entity.id}</if>
        <if test='entity.shortStudentNumber != null'>AND ai.short_student_number = #{entity.shortStudentNumber}</if>
        <if test='entity.grade != null'>AND ai.grade = #{entity.grade}</if>
        <if test='entity.college != null'>AND ci.college_name = #{entity.college}</if>
        <if test='entity.teachingPoint != null'>AND tpi.teaching_point_name = #{entity.teachingPoint}</if>
        <if test='entity.majorName != null'>AND ai.major_name = #{entity.majorName}</if>
        <if test='entity.studyForm != null'>AND ai.study_form = #{entity.studyForm}</if>
        <if test='entity.level != null'>AND ai.level = #{entity.level}</if>
        <if test='entity.name != null'>AND ai.name = #{entity.name}</if>
        <if test='entity.majorCode != null'>AND ai.major_code = #{entity.majorCode}</if>
        <if test='entity.admissionNumber != null'>AND ai.admission_number = #{entity.admissionNumber}</if>
        <if test='entity.isConfirmed != null'>AND ai.is_confirmed = #{entity.isConfirmed}</if>

        <if test='entity.idCardNumber != null'>AND ai.id_card_number = #{entity.idCardNumber}</if>
        <!-- 动态检查teachingPoints集合中的元素 -->
        <if test="entity.teachingPoints != null and !entity.teachingPoints.isEmpty()">
            AND tpi.teaching_point_name IN
            <foreach collection="entity.teachingPoints" item="teachingPoint" open="(" close=")" separator=",">
                #{teachingPoint}
            </foreach>
        </if>
    </sql>

    <select id="getAdmissionInformationByAllRoles"
            resultType="com.scnujxjy.backendpoint.model.vo.admission_information.AdmissionInformationVO">
        SELECT ai.*, mi.tuition, mi.admission_type, mi.payment_type,
               mi.college_id, mi.teaching_point_id,
               tpi.teaching_point_name, tpi.phone as teachingPointPhone, tpi.address as teaching_point_address,
               ci.college_name, ci.college_address, ci.college_phone,
               pi.address as student_address, pi.phone_number as student_phone_number
        <include refid="commonJoin" />
        WHERE 1=1
        <include refid="commonFilters" />
        ORDER BY ai.grade DESC
        LIMIT #{pageNumber}, #{pageSize}
    </select>


    <select id="getAdmissionInformationByAllRolesCount" resultType="java.lang.Long">
        SELECT count(*)
        <include refid="commonJoin" />
        WHERE 1=1
        <include refid="commonFilters"/>
    </select>
    <select id="getDistinctGrades" resultType="java.lang.String">
        SELECT DISTINCT ai.grade
        <include refid="commonJoin"/>
        WHERE 1=1
        <include refid="commonFilters"/>
        ORDER BY ai.grade DESC
    </select>
    <select id="getDistinctCollegeNames" resultType="java.lang.String">
        SELECT DISTINCT ci.college_name
        <include refid="commonJoin"/>
        WHERE 1=1
        <include refid="commonFilters"/>
    </select>
    <select id="getDistinctMajorNames" resultType="java.lang.String">
        SELECT DISTINCT ai.major_name
        <include refid="commonJoin"/>
        WHERE 1=1
        <include refid="commonFilters"/>
    </select>
    <select id="getDistinctLevels" resultType="java.lang.String">
        SELECT DISTINCT ai.level
        <include refid="commonJoin"/>
        WHERE 1=1
        <include refid="commonFilters"/>
    </select>
    <select id="getDistinctStudyForms" resultType="java.lang.String">
        SELECT DISTINCT ai.study_form
        <include refid="commonJoin"/>
        WHERE 1=1
        <include refid="commonFilters"/>
    </select>
    <select id="getDistinctTeachingPoints" resultType="java.lang.String">
        SELECT DISTINCT tpi.teaching_point_name
        <include refid="commonJoin"/>
        WHERE 1=1
        <include refid="commonFilters"/>
    </select>
    <select id="batchSelectData"
            resultType="com.scnujxjy.backendpoint.model.vo.admission_information.AdmissionInformationVO">
        SELECT ai.*, mi.tuition, mi.admission_type, mi.payment_type,
        mi.college_id, mi.teaching_point_id,
        tpi.teaching_point_name, tpi.phone as teachingPointPhone, tpi.address as teaching_point_address,
        ci.college_name, ci.college_address, ci.college_phone,
        pi.address as student_address, pi.phone_number as student_phone_number
        <include refid="commonJoin" />
        WHERE 1=1
        <include refid="commonFilters" />
        ORDER BY ai.grade DESC, ci.college_name, ai.major_name, ai.level, ai.study_form
    </select>
    <select id="selectSingleAdmissionInfo"
            resultType="com.scnujxjy.backendpoint.model.vo.admission_information.AdmissionInformationVO">
        SELECT ai.*, mi.tuition, mi.admission_type, mi.payment_type,
               mi.college_id, mi.teaching_point_id,
               tpi.teaching_point_name, tpi.phone as teachingPointPhone, tpi.address as teaching_point_address,
               ci.college_name, ci.college_address, ci.college_phone,
               pi.address as student_address, pi.phone_number as student_phone_number
        <include refid="commonJoin" />
        WHERE ai.id_card_number=#{idNumber} and ai.grade=#{admissionYear}
    </select>


    <sql id="commonAnnouncementMsgUsersFilters">
<!--        <if test='entity.id != null'>AND ai.id = #{entity.id}</if>-->
        <if test='entity.admissionNumber != null'>AND ai.admission_number = #{entity.admissionNumber}</if>
        <if test='entity.grade != null'>AND ai.grade = #{entity.grade}</if>
        <if test='entity.idCardNumber != null'>AND ai.id_card_number = #{entity.idCardNumber}</if>
        <if test='entity.name != null'>AND ai.name = #{entity.name}</if>

        <!-- Additional filter for majorNameList -->
        <if test="entity.collegeList != null and entity.collegeList.size() > 0">
            AND ai.college IN
            <foreach item="item" collection="entity.collegeList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="entity.majorNameList != null and entity.majorNameList.size() > 0">
            AND ai.major_name IN
            <foreach item="item" collection="entity.majorNameList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="entity.levelList != null and entity.levelList.size() > 0">
            AND ai.level IN
            <foreach item="item" collection="entity.levelList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="entity.studyFormList != null and entity.studyFormList.size() > 0">
            AND ai.study_form IN
            <foreach item="item" collection="entity.studyFormList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="entity.teachingPointList != null and entity.teachingPointList.size() > 0">
            AND ai.teaching_point IN
            <foreach item="item" collection="entity.teachingPointList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="entity.usernames != null and entity.usernames.size() > 0">
            AND ai.id_card_number IN
            <foreach item="item" collection="entity.usernames" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </sql>
    <select id="getAdmissionInformationByAnnouncementMsg"
            resultType="com.scnujxjy.backendpoint.dao.entity.admission_information.AdmissionInformationPO">
        SELECT *  FROM admission_information ai
        WHERE 1=1
        <include refid="commonAnnouncementMsgUsersFilters" />
        ORDER BY ai.grade DESC, ai.college
        LIMIT #{pageNumber}, #{pageSize}
    </select>

    <select id="getAdmissionInformationByAnnouncementMsgCount" resultType="java.lang.Long">
        SELECT COUNT(*)  FROM admission_information ai
        WHERE 1=1
        <include refid="commonAnnouncementMsgUsersFilters" />
    </select>
    <select id="getAllAdmissionInformationByAnnouncementMsg"
            resultType="com.scnujxjy.backendpoint.dao.entity.admission_information.AdmissionInformationPO">
        SELECT *  FROM admission_information ai
        WHERE 1=1
        <include refid="commonAnnouncementMsgUsersFilters" />
    </select>
</mapper>